%p
  Hi, I'm Zeke Sikelianos, a web designer and developer with an interest in 
  language, typography, color theory, visualization, architecture, 
  tight-rope walking, screenprinting, single-sentence websites, 
  long lists, and verbs such as 
  = link_to('design', 'http://cargocollective.com/zeke') + ","
  = link_to('code', 'http://github.com/zeke') + ","
  = link_to('tweet', 'http://twitter.com/zeke') + ","
  = link_to('flick', 'http://flickr.com/photos/sikelianos/sets') + ","
  = link_to('query', 'http://queri.ac/zeke') + ","
  = link_to('bookmark', 'http://delicious.com/sikelianos') + ","
  = link_to('tumble', 'http://zeke.tumblr.com') + ","
  = link_to('listen', 'http://last.fm/user/sikelianos') + ","
  = link_to('link', 'http://www.linkedin.com/in/sikelianos') + ", and"
  = link_to('blog', 'http://zeke.sikelianos.com/blog') + "."