= img('bananas.png')

%p
  Hi, I'm Zeke Sikelianos, a web designer and developer with an interest in 
  language, typography, color theory, visualization,  
  tight-rope walking, single-sentence websites, 
  long lists, and verbs such as 
  = link_to('design', 'http://cargocollective.com/zeke', :class => 'a') + ","
  = link_to('code', 'http://github.com/zeke', :class => 'b') + ","
  = link_to('tweet', 'http://twitter.com/zeke', :class => 'c') + ","
  = link_to('flick', 'http://flickr.com/photos/sikelianos/sets', :class => 'd') + ","
  = link_to('query', 'http://queri.ac/zeke', :class => 'e') + ","
  = link_to('bookmark', 'http://delicious.com/sikelianos', :class => 'f') + ","
  = link_to('tumble', 'http://zeke.tumblr.com', :class => 'g') + ","
  = link_to('listen', 'http://last.fm/user/sikelianos', :class => 'h') + ","
  = link_to('link', 'http://www.linkedin.com/in/sikelianos', :class => 'i') + ","
  %span.j
    and
  = link_to('blog', 'http://zeke.sikelianos.com/blog', :class => 'j') + "."